@import url();



:root {
    --background:rgba(175, 164, 240, 0.808);
}

*,*::before,*::after{
    box-sizing:border-box;
}


body.home{
    margin:0;
    
    background:#222;
    
    font-family:'Kodchasan';
    font-weight:400;
    /*
    background-image: url("assets/me.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    */
    height: 100%;
    /*overflow: hidden;*/
    position:relative;
    margin: 0;
}

body.about{
    margin:0;
    
    background:rgb(54, 54, 54);
    
    font-family:'Kodchasan';
    font-weight:400;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    /*overflow: hidden;*/
    position:relative;
    margin: 0;
}

#mountain{
  display: block;
  position:fixed;
  filter: sepia(.2);
  right:0;
  bottom:0;
  min-width: 100%;
  min-height:100%;
}

h1{
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 2px 2px #333;
}

div.a{
    text-align: left;
    color:white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top:-100px;
    margin-left:-300px;
}

.content{
    height:200vh;
    background: color #333;
    background-blend-mode:multiply;
    background-size:cover;
    display: grid;
    
    place-items:center;
}

.container{
    display:flex;
    align-items:flex-start;
    justify-content:center;
    
}

.portfolioHeader{
    color:white;
    text-align: center;
    position:relative;
    top: 200px;
}

.portTitles{
    position:absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%; /* Set the width of the positioned div */
}

.portImages{
    margin-left:10px;
    margin-right:10px;
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}

#teamMaker{
    background-image:url("assets/league.png");
    background-size: cover;
    height:190px;
    width:190px;
}

#mines{
    background-image:url("assets/bomb.png");
    background-size: cover;
    height:190px;
    width:190px;
}

#drawvis{
  background-image:url("assets/drawvis.png");
  background-size: cover;
  height:190px;
  width:190px;
}

#secondButton{
  margin-left: 10px;
}

#graphic{
    background-image:url("assets/graphic.png");
    background-size: cover;
    height:190px;
    width:190px;
}

#illustration{
    background-image:url("assets/illustration.png");
    background-size: cover;
    height:190px;
    width:190px;
}

.bottom{
    min-height:100%;
    position:relative;
    margin-top: 3vh;
    height:50px;
    background-color: rgb(54, 54, 54);
}

.sneaky{
    position:relative;
    top: 520px;
    right:200px;
    height:8vh;
}


.text{
    color:white;
    margin-top: 50px;
    padding-left:20px;
    margin-right: 50px;
    max-width: 80%;
    line-height: 23px;
}

.about-title{
    color:white;
    font-size: 30px;
    font-weight: bolder;
}

.about-text{
    color:white;
    margin-top: 200px;
    padding-left:20px;
    margin-right: 50px;
    max-width: 50%;
    line-height: 23px;
}
.middle{
    display:flex;
    align-items:center;
    margin-left: 10px;
}
.center{
    text-align: center;
}

.about-pic{
    border-radius: 50%;
    margin: 10px;
    margin-left: 50px;
    margin-top: 200px;
    width: 300px;
    height: auto;
}

.project-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding-top: 110px;
}

.project-title{
    text-align: center;
    color:white;
    font-size: 40px;
    font-weight: bolder;
}

.project-text{
    color:white;
    margin-top: 75px;
    max-width: 70%;
    line-height: 23px;
}

.project-header{
    color:white;
    font-size: 25px;
    margin-left: 2.5em;
}

.column{
    display:flex;
    width:100vw;
    max-width: 100%;
}

.column-left{
    text-align: center;
    padding-right: 50px;
    padding-left:50px;
    float:left;
    width:50%;
    
    background:rgba(175, 164, 240, 0.24);
}

.column-mid{
    text-align: center;
    display:inline-block;
    width:15%;
    background:rgba(175, 164, 240, 0.453);
}

.column-right{
    text-align: center;
    padding-right: 50px;
    padding-left:50px;
    float:right;
    width:35%;
    background:rgba(175, 164, 240, 0.658);
}


.row:after{
    content:"";
    display:table;
    clear:both;
}

.tab{
    margin-left:5em;
}

.contact-pic{
    
    margin: 10px;
    margin-left: 50px;
    margin-top: 200px;
    width: 300px;
    height: auto;
}
.tiny-pic{
    width: 50px;
    margin-right: 10px;
}


@media screen and (max-width:800px){
    .container {
        flex-direction: column;
        align-items: center;
    }
    .about-text {
        margin-top: 50px;
        max-width: 80%;
    }
    .column{
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
        padding-right:0px;
    }
    .column-left{
        width:100%;
    }
    .column-right{
        width:100%;
    }
    .column-mid{
        width:100%;
    }
}

.link{
    color:white;
}

.indextitle {
    transition: transform .2s; /* Animation */

    text-align: center;
    color:white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top:-100px;
    margin-left:-250px;
}



/*
#stuff {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in;
}
#hover {
    width:400px;
    height:20px;
    background-color:rgba(175, 164, 240, 0.808);
    margin-bottom:15px;
}
#hover:hover + #stuff, #stuff:hover {
    opacity: 1.0;
}
*/

.hidden>div{
    display:none;
}
visible>div{
    display:block;
}


/*nav styles*/

header{
    background:var(--background);
    text-align: center;
    position:fixed;
    z-index:999;
    width: 100%;
}

.rectangle{
    width:200px;
    height:7px;
    background:rgb(255, 255, 255);
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top:-100px;
    margin-left:-300px;
}
.rectangle1{
    width:200px;
    height:7px;
    background:rgb(255, 255, 255);
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top:140px;
    margin-left:100px;
}

.smallrect{
    width:100px;
    height:7px;
    background:rgb(255, 255, 255);
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top:-120px;
    margin-left:-300px;
}

.smallrect1{
    width:100px;
    height:7px;
    background:rgb(255, 255, 255);
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top:160px;
    margin-left:200px;
}

.logo {
    border-radius: 50%;
    margin: 10px;
    margin-left: 50px;
    width: 100px;
    height: auto;
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position:absolute;
    top:0;
    left:0;
    margin-left: 1em;
    /*
    border: 1px solid red;
    */
    height:100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display:block;
    background:white;
    height: 2px;
    width: 2em;
    border-radius:2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content:'';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom:7px;
}

.nav-toggle-label span::after{
    top:7px;
}

nav{
    position:absolute;
    text-align:left;
    top:100%;
    left:0;
    background:var(--background);
    width:100%;
    transform:scale(1,0);
    transform-origin:top;
    transition:transform 400ms ease-in-out;
}

nav ul{
    margin:0;
    padding:0;
    list-style:none;
}

nav li{
    margin-bottom:1em;
    margin-left:1em;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:1.2rem;
    text-transform:uppercase;
    opacity:0;
    transition:opacity 150ms ease-in-out;
}

nav a:hover{
    color:rgb(54, 54, 54);
}

/*sibling of nav, looks for any preceeding sibling*/
.nav-toggle:checked ~ nav{
    transform:scale(1,1);
}

.nav-toggle:checked ~ nav a{
    opacity:1;
    transition:opacity 250ms ease-in-out 250ms;

}

@media screen and (min-width:800px){
    .nav-toggle-label{
        display: none;

    }
    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    .logo{
        grid-column: 2 / 3;
    }
    nav{
        all:unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul{
        display: flex;
    }

    nav li{
        margin-left: 3em;
        margin-bottom:0;
    }

    nav a{
        opacity: 1;
        position: relative;
    }

    nav a::before{
        content:'';
        display: block;
        height: 5px;
        background: rgb(54, 54, 54);;
        position: absolute;
        top: -.75em;
        left:0;
        right:0;
        transform: scale(0,1);
        transform-origin:left;
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before{
        transform: scale(1,1);
    }
}

/* click bubble effect */
/* taken and modified from this link: https://codepen.io/nourabusoud/pen/ypZzMM */

.bubbly-button {
    font-family: "Kodchasan";
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    
    margin-bottom: 60px;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(175, 164, 240, 0.808);
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(67, 51, 155, 0.808);
  }
  .bubbly-button:focus {
    outline: 0;
  }
  .bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  .bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, rgba(175, 164, 240, 0.808) 20%, transparent 20%), radial-gradient(circle, transparent 20%, rgba(175, 164, 240, 0.808) 20%, transparent 30%), radial-gradient(circle, rgba(175, 164, 240, 0.808) 20%, transparent 20%), radial-gradient(circle, rgba(175, 164, 240, 0.808) 20%, transparent 20%), radial-gradient(circle, transparent 10%, rgba(175, 164, 240, 0.808) 15%, transparent 20%), radial-gradient(circle, rgba(175, 164, 240, 0.808) 20%, transparent 20%), radial-gradient(circle, rgba(175, 164, 240, 0.808) 20%, transparent 20%), radial-gradient(circle, rgba(175, 164, 240, 0.808) 20%, transparent 20%), radial-gradient(circle, rgba(175, 164, 240, 0.808) 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, rgba(175, 164, 240, 0.808) 20%, transparent 20%), radial-gradient(circle, rgba(175, 164, 240, 0.808) 20%, transparent 20%), radial-gradient(circle, transparent 10%, rgba(175, 164, 240, 0.808) 15%, transparent 20%), radial-gradient(circle, rgba(175, 164, 240, 0.808) 20%, transparent 20%), radial-gradient(circle, rgba(175, 164, 240, 0.808) 20%, transparent 20%), radial-gradient(circle, rgba(175, 164, 240, 0.808) 20%, transparent 20%), radial-gradient(circle, rgba(175, 164, 240, 0.808) 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  .bubbly-button:active {
    transform: scale(0.9);
    background-color: rgba(175, 164, 240, 0.808);
    box-shadow: 0 2px 25px rgba(247, 0, 255, 0.2);
  }
  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  
  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

  /* image carousel */
  /* taken from this link: https://codepen.io/Schepp/pen/WNbQByE*/

  @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }

  /*code for carousel*/
  /*link: https://codepen.io/onion2k/pen/xxZYBVj*/
  
  .graphic-body {
    height: 600px;
    margin: 0;
    margin-top: 20px;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
  }
  
  
  
  main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 99vw;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 1000px;
    --items: 4;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }

  /* item: sakana pics */
  
  div.item {
    position: absolute;
    width: 800px;
    height: 500px;
    background-color: rgba(175, 164, 240, 0.808);
    background-image: url("assets/sakana_final.png");
    background:no-repeat;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: rgb(106, 99, 145);
    background-image: url("assets/sakana_logo_drafts.png");
    background-size:700px;
    background-position: center;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: rgb(130, 122, 179);
    background-image: url("assets/sakana_final.png");
    background-size:500px;
    background-position: center;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: rgb(158, 147, 216);
    background-image: url("assets/sakana_shop_1.png");
    background-size:600px;
    background-position: center;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: rgb(175, 164, 240);
    background-image: url("assets/sakana_shop_2.png");
    background-size:450px;
    background-position: center;
  }

  /*item 1: tufts logo pics */
  div.item1 {
    position: absolute;
    width: 800px;
    height: 500px;
    background-color: rgba(175, 164, 240, 0.808);
    background:no-repeat;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item1:nth-of-type(1) {
    --offset: 1;
    background-color: rgb(106, 99, 145);
    background-image: url("assets/tufts-sketches.png");
    background-size:550px;
    background-position: center;
  }
  div.item1:nth-of-type(2) {
    --offset: 2;
    background-color: rgb(130, 122, 179);
    background-image: url("assets/tufts-draft.png");
    background-size:425px;
    background-position: center;
  }
  div.item1:nth-of-type(3) {
    --offset: 3;
    background-color: rgb(158, 147, 216);
    background-image: url("assets/tufts-logo-final.png");
    background-size:325px;
    background-position: center;
  }
  div.item1:nth-of-type(4) {
    --offset: 4;
    background-color: rgb(175, 164, 240);
    background-image: url("assets/tufts-logo-no-words.png");
    background-size:450px;
    background-position: center;
  }

  /* item 2: deirdre fay stuff */
  div.item2 {
    position: absolute;
    width: 800px;
    height: 500px;
    background-color: rgba(175, 164, 240, 0.808);
    background:no-repeat;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item2:nth-of-type(1) {
    --offset: 1;
    background-color: rgb(106, 99, 145);
    background-image: url("assets/anjalimundra1.jpg");
    background-size:350px;
    background-position: center;
  }
  div.item2:nth-of-type(2) {
    --offset: 2;
    background-color: rgb(130, 122, 179);
    background-image: url("assets/anjalimundra2.jpg");
    background-size:450px;
    background-position: center;
  }
  div.item2:nth-of-type(3) {
    --offset: 3;
    background-color: rgb(158, 147, 216);
    background-image: url("assets/seatedtwist1.jpg");
    background-size:350px;
    background-position: center;
  }
  div.item2:nth-of-type(4) {
    --offset: 4;
    background-color: rgb(175, 164, 240);
    background-image: url("assets/becoming_safely_embodied_final.jpg");
    background-size:450px;
    background-position: center;
  }


  /* item 3: art class stuff */

  div.item3 {
    position: absolute;
    width: 800px;
    height: 500px;
    background-color: rgba(175, 164, 240, 0.808);
    background:no-repeat;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item3:nth-of-type(1) {
    --offset: 1;
    background-color: rgb(106, 99, 145);
    background-image: url("assets/snake-girl.png");
    background-size:450px;
    background-position: center;
  }
  div.item3:nth-of-type(2) {
    --offset: 2;
    background-color: rgb(130, 122, 179);
    background-image: url("assets/pattern.jpg");
    background-size:400px;
    background-position: center;
  }
  div.item3:nth-of-type(3) {
    --offset: 3;
    background-color: rgb(158, 147, 216);
    background-image: url("assets/arch.png");
    background-size:650px;
    background-position: center;
  }
  div.item3:nth-of-type(4) {
    --offset: 4;
    background-color: rgb(175, 164, 240);
    background-image: url("assets/rectangle.jpg");
    background-size:375px;
    background-position: center;
  }

  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }
  
  h2{
      font-weight:normal;
  }